.app {
  margin-top: -0.5rem;
  background: url('./icons/wave.svg'), #002233;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-back-position {
  background-position: 20% -25vh;
}

@media (min-width: 768px){
  .app-back-position {
    background-position: 100% -70px;
  }
}